<div id="info-modal" class="modal">
    <div class="modal-content">
        <span class="close-button" id="close-modal">&times;</span>
        <div class="modal-header">
            <div class="profile-picture"></div>
            <div class="profile-info">
                <h3 id="modal-name">Name</h3>
                <p id="modal-gender">Gender</p>
            </div>
        </div>
        <div class="modal-body">
            <p id="modal-birth-date"><strong>*</strong> Birth Date</p>
            <p id="modal-birth-city">Birth City</p>
            <p id="modal-death-date"><strong>†</strong> Death Date</p>
            <p id="modal-death-city">Death City</p>
        </div>
    </div>
</div>