/* components/CustomNode.css */

* {
    box-sizing: border-box;
}

.custom-node {
    text-align: center;
    width: 150px; /* Increase width for better spacing */
    padding: 12px; /* Add padding for more space */
    border: 2px solid #b8a18a; /* Match general border theme */
    background-color: #faf8f4; /* Softer background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 10px;
}

.custom-node.selected {
    border: 3px solid #ff5e5e; /* Softer red color */
    box-shadow: 0 0 15px rgba(255, 94, 94, 0.5); /* Glow effect */
    transition: border 0.3s, box-shadow 0.3s; /* Smooth animation */
}


.node-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto; /* Центрирование */
}

.node-name {
  margin-top: 5px;
  font-size: 14px;
  color: #29323d;
}

.node-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Больше расстояние от имени */
}

.node-button {
  background-color: #b8987e;
  color: white;
  border: none;
  border-radius: 50%; /* Circular buttons */
  width: 40px; /* Adjust size */
  height: 40px;
  margin: 0.5em;
  cursor: pointer;
  font-size: 16px; /* Adjust text size */
  line-height: 40px; /* Vertically align text */
  transition: background-color 0.3s, transform 0.2s;
}

.node-button:hover {
    background-color: #a17c62; /* Softer hover effect */
    transform: scale(1.1); /* Slight hover enlargement */
}

.node-button:last-child {
    background-color: #e54343; /* Bright red for delete */
}

.node-button:last-child:hover {
    background-color: #d32f2f; /* Slightly darker hover red */
}
