/*!*!* FamilyTree.css *!*!*/

.family-tree-container-wrapper {
  display: flex;
  /*height: 100%; !* Full height of the section *!*!*/
  width: 100%;
  background-color: #f6efe3; /* Matches the main section background */
  border: 1px solid #a89f91;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  height: auto; /* Adjust height dynamically */
  padding: 1em; /* Add padding for better visual spacing */
}

.family-tree-container {
  flex: 1;
  height: 550px; /* Fixed height to prevent scrolling */
  /*background-color: #fdf7f1;*/
  background-color: #fdf7f1;
  border-radius: 15px;
  /*border: 1px solid #a89f91;*/
  border: 1px solid #b8a18a; /* Match section styling */
  margin: 1em;
  overflow: hidden; /* Prevent scrolling inside the graph container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.node-info-panel {
  width: 200px;
  flex-shrink: 0; /* Prevent the panel from resizing */
  background-color: #fdf7f1;
  padding: 1em;
  border-radius: 15px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #a89f91;
}

.family-tree-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em auto;
  padding: 0em;
  background-color: #fdf7f1;
  border-radius: 20px;
  text-align: center;
  width: 90%;
}

.form-area,
.results-area,
.graph-area {
  padding: 1em 2em;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 90%; /* Nastavenie šírky */
  background-color: #fdf7f1; /* Zjednotenie farby pozadia */
  border: 1px solid #a89f91; /* Usporiadanie hrán formulára *!*/
  width: 100%;
}

.graph-area {
  /*height: 550px;*/
  padding: 1em 2em;
  border-radius: 15px;
  margin: 2em auto;
  max-width: 90%; /* Width adjustment */
  background-color: #faf4eb; /* Matches design */
  border: 1px solid #a89f91;
}

h2 {
  font-size: 2.0em;
  color: #29323d;
}

.node-dragging {
  cursor: grabbing;
}

.zoom-controls button {
  background-color: #b8987e; /* Matches overall theme */
  border: 1px solid #a89f91;
  color: #ffffff;
  border-radius: 8px; /* Slightly rounded corners for better aesthetics */
  padding: 0.6em 1.0em; /* Increased padding for size */
  font-size: 1.0em; /* Larger text */
  margin: 0.5em; /* Add some spacing around the buttons */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effects */
}

.zoom-controls button:hover {
  background-color: #a17c62; /* Darker background for hover */
  transform: scale(1.1); /* Slight enlargement on hover */
}


