header {
	border-bottom: 2px solid #d9dad7;
	text-align: center;
	height: 110px;
    box-sizing: border-box;
	
}

section{
	color: #3b4754;
	border-radius: 20px;
	background-color: #edf0f4;
	margin: 5em 20em 0em 20em;
	padding: 2em 5em 5em 3em;
	float:none;
	clear:both;
}

#main_section{
	background-color:#f8f8f8;
	padding:1em;
}
#main_section section{
	color: #3b4754;
	border-radius: 20px;
	background-color: #edf0f4;
	margin: 2em 5em;
	padding: 2em 5em 5em 3em;
	text-align: center;
	float:none;
	clear:both;
	border: 1px solid #29323d;
}
#notification{
	margin: 2em 5em;
	padding: 2em 5em 2em 3em;
	clear:none;
}
hr{
	border: 1px solid #d9dad7;
	margin: 20px 0 30px 0;
}
fieldset{
	border: 0em;
}
legend,h2{
	margin: 0px;
	font-weight: bold;
	font-size: 1.5em;
	color: #29323d;
}
h1{
	color: #29323d;
	margin-top: 0;
}
p{
	padding-bottom: 0.3em;
}

input, select{
	border: 0.1em 0.1em 0.1em 0.1em;
	border-color: #d9dad7;
	border-radius: 8px;
	height: 25px;
	width: 200px;
	margin: 2px;
}


input[type="submit"]{
	color: black;
	border-radius: 8px;
	height: 30px;
	width: 200px;
	text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  font-size: 15px;
}

form button {
  align-self: center;
}


a{
	margin: 0em 1em 0em 1em;
	font-weight:bold;
	color: #29323d;
	font-size: 20px;
}


#MAIN_TEXT {
text-decoration: none;
}

#lang {
float:right;
padding-right:2.5%;
}

nav{
	text-align: center;
	border-bottom: 2px solid #d9dad7;
	display: flex;
	justify-content: space-evenly; 
	width: 100%;
}

nav a {
  text-decoration: none;
  display: block;
  width: 20%;
  padding: 10px 0;
  text-align: center;
}

nav a.active {
  background-color: #e6ffe6;
  color: black;
}

nav a:hover {
  color: #007bff;
}
